@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.admin-container {
  background-color: #fff;
  padding: 15px;
}

.admin-container button,
.admin-container .div-button {
  background-color: #666;
  border: none;
  padding: 5px 10px;
  margin: 5px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
}

.admin-container button {
  background-color: seagreen;
}

.tasks-container {
  display: flex;
  flex-wrap: wrap;
}

.tasks-container.single-column {
  flex-direction: column;
  flex-wrap: none;
}

.global-buttons {
  display: flex;
}

.global-buttons button {
  margin-right: 10px;
}
 
.task-box {
  border: 1px solid #999;
  margin: 5px;
  animation: fadeIn 3s;
  background-color: #fff;
  width: 45%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #999;
}

.task-box.path-chain-top {
  margin-left: 150px;
}

.task-box.spawnsOnAge {
  margin-left: 300px;
}

.task-box.selected {
  background-color: #b1ef9c;
}

.task-edit-box {
  background-color: #fff;
  border: 1px solid #999;
  margin: 10px 5px;
  max-width: 1200px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #999;
}

.task-edit-box.empty {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  padding: 15px;
}

.task-edit-box-header {
  background-color: #37a;
  color: #fff;
  padding: 10px;
  font-weight: bold;
}

.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding-bottom: 4px;
  background-color: #666;
  color: #fff;
  padding: 7px;
}

.task-header button {
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

.form-row {
  padding: 5px 7px;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
}

.form-row.stack {
  flex-direction: column;
}

.form-row label {
  margin-right: 5px;
  color: #333;
  padding: 3px;
}

.form-row button:not(:first-child),
.button-container button:not(:first-child) {
  margin-left: 10px;
}

.description-text {
  padding: 3px;
  color: royalblue;
  font-weight: bold;
}

.spawn-box {
  padding: 5px;
  margin: 5px 0;
  display: flex;
  border-radius: 5px;
}

.spawn-box-age {
  background-color: steelblue;
}

.spawn-box-done {
  background-color: yellowgreen;
}

.spawn-box > div {
  padding: 3px 5px;
  margin: 0 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.task-link:hover {
  background-color: #fff;
  cursor: pointer;
}

textarea[name="description"] {
  width: 400px;
}

.input-day {
  width: 30px;
  height: 10px;
  font-size: 16px;
  padding: 5px;
}

.div-button .symbol {
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
}

.admin-container .cancel-button {
  background-color: #666;
  color: #fff;
  width: 60px;
  margin-left: 5px;
}

.spawn-box .remove-button {
  background-color: #666;
  color: #fff;
  width: 60px;
  cursor: pointer;
  margin-left: 5px;
}

.add-button {
  background-color: #fff;
  color: #333;
  border: 1px solid #666;
  font-size: 14px;
}

.admin-container .delete-button {
  background-color: #ab3c1a;
}

.button-container {
  display: flex;
}

.spawn-timeunit {
  margin-left: 5px;
}

.spawn-label {
  text-transform: capitalize;
  margin-right: 5px;
}

.new-spawn-form {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  background-color: #efefef;
}

.new-spawn-form > div {
  padding: 5px 0;
}

.new-spawn-form > div:not(:first-child) {
  border-top: 1px solid #ccc;
}

.new-spawn-button-row {
  display: flex;
}

.new-spawn-input {
  margin-left: 10px;
  font-size: 1rem;
  padding: 2px 5px;
}

.input-id {
  width: 150px;
}

.input-spawn-description {
  width: 450px;
}

.parent-link {
  border: 1px solid #ccc;
  background-color: #efefef;
  padding: 5px;
  margin-bottom: 10px;
  color: royalblue;
  cursor: pointer;
}

.parent-link:hover {
  background-color: #fff;
}

.admin-container button.disabled {
  background-color: #666;
  box-shadow: inset 0 0 0 2px #999;
  cursor: default;
}

.admin-container button.disabled:hover {
  box-shadow: none;
}

.games-list {
  padding: 5px;
}

.games-list > * {
  margin: 0 5px;
  padding: 5px;
}

.game-name {
  color: white;
  background-color: #999;
  border-radius: 5px;
  text-decoration: none;
}

.game-name.selected {
  background-color: royalblue;
  font-weight: bold;
}