.task-edit-box {
  border: 1px solid grey;
  padding: 5px;
  margin: 5px;
}

.task-edit-box.dirty {
  background-color: #afd9ff;
}

.form-row {
  margin: 5px 0;
  display: flex;
  align-items: flex-start;
}

.form-row.stack {
  flex-direction: column;
}

.form-row label {
  margin-right: 5px;
}

.spawn-box {
  padding: 5px;
  margin: 5px 0;
  display: flex;
}

.spawn-box-age {
  background-color: steelblue;
}

.spawn-box-done {
  background-color: yellowgreen;
}

.spawn-box > div {
  padding: 5px;
  margin: 0 5px;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-link:hover {
  background-color: #fff;
  cursor: pointer;
}

textarea[name="description"] {
  width: 400px;
}

.input-day {
  width: 30px;
  font-size: 16px;
  padding: 5px;
}

button,
.div-button {
  background-color: #666;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: seagreen;
}

.cancel-button {
  background-color: #666;
  color: #fff;
  width: 60px;
  margin-left: 5px;
}

.spawn-box .remove-button {
  background-color: #666;
  color: #fff;
  width: 60px;
  cursor: pointer;
  margin-left: 5px;
}

.add-button {
  background-color: purple;
  height: 25px;
}

.spawn-timeunit {
  margin-left: 5px;
}

.spawn-label {
  text-transform: capitalize;
  margin-right: 5px;
}

.new-spawn-form {
  border: 1px solid grey;
  padding: 5px;
  background-color: #efefef;
}

.new-spawn-form > div {
  padding: 5px 0;
}

.new-spawn-form > div:not(:first-child) {
  border-top: 1px solid #ccc;
}