/*#21AB91*/
/*#87CEC1*/
/*#F9D777*/
/*#FCB864*/

:root {
  /*--main-color: #21AB91;*/
  /*--main-color-light: #87CEC1;*/
  /*--secondary-color: #F9D777;*/
  /*--secondary-color-light: #FCB864;*/
}
@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

html {
  height: 100%;
  --twhite-color: rgba(255, 255, 255, 0.05);
  background-color: #efefef;
}

body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
}

#root {
  height: 100%;
}

.palette-1 {
  /* dark to light */
  --color-1: #05668d;
  --color-2: #028090;
  --color-3: #00a896;
  --color-4: #02c39a;
  --color-5: #f0f3bd;
  --text-color: #fff;
}

.palette-2 {
  /* dark to light */
  --color-1: #21AB91;
  --color-2: #87CEC1;
  --color-3: #F9D777;
  --color-4: #FCB864;
  --color-5: #333;
}

.palette-3 {
  --color-1: #264653;
  --color-2: #2A9D8F;
  --color-3: #E9C46A;
  --color-4: #F4A261;
  --color-5: #E76F51;
  --text-color: #fff;
}

.palette-4 {
  --color-1: #ED6A5A;
  --color-2: #F4F1BB;
  --color-3: #9BC1BC;
  --color-4: #5CA4A9;
  --color-5: #E6EBE0;
  --text-color: #333;
}

.palette-5 {
  --color-1: #003049;
  --color-2: #D62828;
  --color-3: #F77F00;
  --color-4: #FCBF49;
  --color-5: #EAE2B7;
  --text-color: #fff;
}

.palette-6 {
  --color-1: #3D315B;
  --color-2: #444B6E;
  --color-3: #708B75;
  --color-4: #9AB87A;
  --color-5: #F8F991;
  --text-color: #fff;
}

.app-container {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  margin: 0;
}

button:hover {
  box-shadow: inset 0 0 0 50px rgba(255, 255, 255, 0.2);
}

.main-container {
  width: 380px;
  height: 100%;
  --container-color: var(--color-2);
  --item-color: var(--color-4);
  --title-color: var(--color-3);
  --clock-color: var(--color-1);
  --button-color: var(--color-3);
  --button-color-hover: var(--color-4);
  background-color: var(--container-color);
  position: relative;
  z-index: 1;
  flex-shrink: 0;
}

.todo-header {
  padding: 5px;
  color: #fff;
  position: relative;
}

.todo-header .toolbar {
  display: flex;
  justify-content: flex-end;
}

.todo-header button {
  color: #fff;
  background-color: var(--button-color-hover);
  border: none;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  cursor: pointer;
}

.todo-header button:hover {
  background-color: var(--button-color);
}

.settings-container {
  background-color: #efefef;
  border: 2px solid white;
  border-radius: 5px;
  padding: 3px;
  margin-top: 5px;
  position: absolute;
  right: 5px;
  max-width: 360px;
}

.settings-container .settings-palette-row {
  display: flex;
  justify-content: flex-start;
}

.settings-container .settings-game-row {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.settings-container .game-buttons-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.settings-container a.game-name {
  font-size: 1rem;
  padding: 7px 10px;
  color: #fff;
  text-decoration: none;
  background-color: var(--button-color);
  box-sizing: border-box;
  border-radius: 4px;
  margin: 2px;
}

.settings-container a.game-name.selected {
  box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.3);
}

.settings-container a.game-name:hover {
  box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.3);
}

.settings-container .palette-description {
  display: flex;
  align-items: center;
  padding: 5px;
  color: #555;
  font-size: 1rem;
  flex-shrink: 0;
  white-space: nowrap;
}

.settings-container .palette-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  color: #fff;
  width: 40px;
  height: 35px;
  background-color: var(--preview-color);
  background: linear-gradient(to bottom right, var(--color-1), var(--color-1) 50%, var(--color-3) 51%, var(--color-3));
  cursor: pointer;
  margin: 0 2px;
  border: none;
  padding: 0;
}

.settings-container .palette-button.selected {
  box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.3);
  font-size: 1.75rem;
}

.settings-container .palette-button:hover {
  box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.3);
}

.status-box {
  background-color: var(--clock-color);
  background-image:
  radial-gradient(var(--twhite-color) 9px, transparent 10px),        
  repeating-radial-gradient(var(--twhite-color) 0, var(--twhite-color) 4px, transparent 5px, transparent 20px, var(--twhite-color) 21px, var(--twhite-color) 25px, transparent 26px, transparent 50px),
  linear-gradient(rgba(255, 255, 255, 0.25) 0%, transparent 100%);
  background-size: 30px 30px, 90px 90px, 200px 200px; 
  background-position: 0 0;
  color: #fff;
  font-size: 2rem;
  height: 200px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
}

.clock-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 10px 0 10px;
}

.clock-container .time {
  font-size: 2rem;
  font-weight: bold;
}

.clock-container .date {
  font-size: 1.5rem;
  margin-right: 10px;
}

.title-container {
  color: var(--text-color);
  font-size: 3rem;
  margin: 0 10px;
}

.loading-container {
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--text-color);
  padding: 8px;
  font-size: 1.5rem;
}

.loading-text:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 1200ms infinite;      
  animation: ellipsis steps(4, end) 1200ms infinite;
  content: "...";
  width: 0px;
  margin-left: 10px;
}

.list-item {
  margin: 1px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--text-color);
  display: flex;
  align-items: flex-start;
}

.list-transition-enter:not(.initial-item) {
  opacity: 0.01;
}

.list-transition-enter.list-transition-enter-active:not(.initial-item) {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.list-transition-enter.initial-item {
  opacity: 0.01;
}

.list-transition-enter.list-transition-enter-active.initial-item {
  opacity: 1;
  transition: opacity 100ms ease-in;
}

.list-item.list-transition-leave {
  opacity: 1;
}

.list-item.list-transition-leave.list-transition-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.list-item.item-done {
  opacity: 0.65;
}

.list-item .description {
  display: flex;
  align-items: center;
  min-height: 25px;
  margin-left: 8px;
}

.regular-checkbox {
  display: none;
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 2px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	margin: 0;
}

.regular-checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
	background-color: var(--clock-color);
	border: 2px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}

.regular-checkbox + label {
  color: var(--clock-color);
}

.ending-message {
  color: var(--text-color);
  font-size: 1.75rem;
  margin: 20px 10px;
  opacity: 0;
  transition: all 1s ease-in;
  display: none;
}

.no-tasks-message {
  color: var(--text-color);
  font-size: 1.25rem;
  padding: 10px;
  opacity: 0;
  transition: all 1s ease-in;
  transition-delay: 1s;
  background-color: rgba(255, 255, 255, 0.3);
}